.app-container {
  display: flex;
}

.sidebar-container {
  width: 16.5vw;
  height: 100vh;

  margin-right: 1.25rem;

  border-right: 1px solid lightgray;
}

.filters-container {
  width: 27.5vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.property-contianer {
  width: 56vw;
}
